/.metadata/
/.recommenders/*
target/

.terraform/
.metadata/
.sonarlint/
.vscode/
logs/
log/
log.*/

*.log
*.tfstate.backup
*.tfstate
misc.xml
vcs.xml
*.iml
.idea/
.run/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.metadata/
.sonarlint/
logs/
/.recommenders/
SQL_mybatis_log_self.html
DWStartDateTime.txt
application-local.properties
application-prodlocal.properties
test_thaorphan.txt
test_thaoutscore.txt
THA_Test_SpecialDeal.java
EETTemplateTest.java
### Arthas ###
arthas-output/

