/.metadata/
/.recommenders/*
target/

.terraform/
.metadata/
.sonarlint/
.vscode/
logs/
log/
log.*/

*.log
*.tfstate.backup
*.tfstate
misc.xml
vcs.xml
*.iml
.idea/
.run/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.metadata/
.sonarlint/
logs/
/.recommenders/

